*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.grid-easy{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.grid-mid{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}

.grid-hard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.cell{
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
}

.bg-azurro{
    background-color: rgb(80, 80, 190);
}

.bg-red{
    background-color: red;
}

.cursor{
    pointer-events: none;
}

.play-btn{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: blue;
    color: white;
}

#select{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    color: white;
}

h1{
    font-size: 80px;
    color: chocolate;
}

#contatore{
    color: chocolate;
    font-size: 50px
}